DATABASE_URL="postgresql+asyncpg://app_user:app_password@bank:5432/bank_database"
POSTGRES_DB="bank_database"
POSTGRES_HOST="bank"
POSTGRES_PASSWORD="app_password"
POSTGRES_USER="app_user"
PROJECT_TITLE="Bank API"
PROJECT_VERSION="0.0.1"
POSTGRES_HOST_AUTH_METHOD="trust"
TOKEN_ALGORITHM="HS256"
TOKEN_EXPIRE_TIME="30"
TOKEN_SECRET="f4e71a93bfe37d12db79904db4d480dfe2f69d91ce742d51316e9f0bcd9d5586"
